@charset "UTF-8";

/*single.php*/
.single_post_title{
  background: #e5e5e5;
  border-left: 6px solid #999;
  padding: 10px 10px 5px 10px;
  margin-bottom: .7em;
}
.single_post_date{
  text-align: right;
}

/*contact.php*/
.contact_form{
  width: 600px;
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
}
.contact_form tr{
    border: 1px solid #e5e5e5;
}
.contact_form th{
  text-align: right;
  padding-right: .5em;
  border: 1px solid #e5e5e5;
}
.contact_form td{
  padding-left: .5em;
  border: 1px solid #e5e5e5;
}
.contact_form th,
.contact_form td{
  padding: 5px;
}

.contact_form .input{
  width: 100%;
  padding: 6px;
}
.contact_form .submit_btn{
  text-align: center;
  width: 30%;
}
.form_error{
  color: #e50000;
}