@charset "UTF-8";

/*single.php*/
.single_post_title{
  background: #e5e5e5;
  border-left: 6px solid #999;
  padding: 10px 10px 5px 10px;
  margin-bottom: .7em;
}
.single_post_date{
  text-align: right;
}

/*gallery.php*/
.thumb{
  margin-bottom: 3px;
}
.thumb a,
.thumb img{
  display: inline-block;
  margin-bottom: 3px;
}