@charset "UTF-8";
*{box-sizing: border-box;}
table th,
table td{
  padding: 3px 6px;
}

.wrap{
  margin: 0 auto;
  width: 1100px;
}


.l-header{
  width: 100%;
  border: 1px solid #333;
  background: red;
}
.admin_bar{
  float: left;
}
.logged_in{
  float: right;
}


/*global navi*/
.gnav--05{
  width: 100%;
}
.gnav--05 ul{
  background: #ccc;
  font-size: 16px;
  overflow: hidden;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.gnav--05 li{
  float: left;
  width: 20%;
  text-align: center;
  border-right: 1px solid #333;
}
.gnav--05 li:last-child{
  border-right: none;
}
.gnav--05 a{
  display: block;
  text-decoration: none;
  padding: 10px 0;
}
/*bread*/
.bread{
  background: #f5f5f5;
}
.bread ol{
  font-size: 16px;
  text-align: right;
  padding: 8px 10px 8px 0;
}


.l-content{
  width: 830px;
  float: right;
  border:  1px solid #333;
  margin: 10px 0;
  background-color: yellow;
}
.post{
  padding: 8px 10px ;
}
.post_date{
  padding-right: 10px;
}
.post_cat{
  padding-right: .8em;
}
.post_cat a{
  color: #333;
}
#post_title{
  width: 100%;
}
#post_content{
  width: 100%;
}


/*post.php*/
.post_select{
  width: 100%;
}
.post_select_thead th,
.post_select_tbody td{
  text-align: left;
}
/*category.php*/
#cat_name,
#cat_slug{
  width: 100%;
}

.cat_table,
.cat_table th,
.cat_table td{
  border: 1px solid #333;
  border-collapse: collapse;
}
.pager{
  text-align: center;
}
.pager a,
.pager strong{
  font-size:  1.2em;
  font-weight: ;
  padding: 10px;
}
.pager a:hover{
  color: #;
  text-decoration: none;
}



.l-sidebar{
  width: 250px;
  float: left;
  border:  1px solid #333;
  margin: 10px 0;
  background: green;
}
.admin_post_list{

}
.admin_post_list li{
  padding-bottom: 5px;
}


.l-footer{
  width: 100%;
  border:  1px solid #333;
  clear:  both;
  background: gray;
}
.copyright{
  text-align: center;
}

/*footer navi*/
.footer--01{
  background: blue;
  padding: 0;
}
.footer__box--01 ul{
  font-size: 0;
}
.footer__box--01 li{
  font-size: 15px;
}
.footer__box--01 .item{
    width:255px;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 30px;
    vertical-align: top;
    font-size: 15px;
}
.footer__box--01 .item:nth-child(4n+4){
  margin-right: 0;
}
.footer__box--01 .head{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin-bottom: 12px;
  border-bottom: 1px solid #ccc;
  box-sizing:border-box;
}
.footer__box--01 .small{
   font-size: 14px;
}
.footer__box--01 .list{
  line-height: 1.6;
}
